<h1>
  <%= @channel.name %>
</h1>
<div class="h-full flex flex-col">
    <div class="h-96 overflow-scroll" data-controller="scroll" data-scroll-to-bottom-value="true">
      <% @messages.each do |message| %>
        <div>
          <%= message.text %>
        </div>
      <% end %>
    </div>

    <%= form_with model: @message do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :channel_id, value: @channel.id %>

      <%= f.text_field :text %>
      <%= f.submit t('message.send'), data: {turbo: false} %>
    <% end %>
</div>
