<div
  id="<%= dom_id(message) %>"
  class="flex py-2 border-t border-t-copy"
>
  <div class="flex flex-col">
    <div>
      <span class="font-bold">
        <%= message.user.nickname %>
      </span>
      <span class="text-xs">
        <%= sent_at message %>
      </span>
    </div>
    <span class="flex">
      <%= message.text %>
    </span>
  </div>
  <% if message.image.attached? %>
        <span class="ml-auto">
          <%= link_to url_for(message.image), target: "_top" do %>
            <%= image_tag(url_for(message.image), width: "50px") %>
          <% end %>
        </span>
  <% end %>
</div>