<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
    <% if [new_user_session_path, new_user_registration_path].include?(request.path) %>
      <%= yield %>
    <% else %>
      <main class="container mx-auto mt-28 px-5 flex flex-col">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
